.footer {

    max-height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo-footer);
  }
  
  .logo-footer {
    width: 8rem; 
    height: auto; 
    object-fit: cover;
  }