.video-item {
    display: flex;
    flex-direction: column;
    background: var(--fondo-back);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    align-items: center;
  
    .video-thumbnail {
      width: 100%;
      background: var(--fondo-color);
      border-radius: 8px;
      overflow: hidden;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .thumbnail-preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .placeholder-thumbnail {
        color: var(--white-text);
        font-size: 1rem;
        text-align: center;
        padding: 1rem;
      }
    }
  
    .video-info {
      width: 100%;
      text-align: center;
      padding: 1rem 0;
  
      h3 {
        @include title-text(600);
        color: var(--primary-color);
        margin-bottom: 0.5rem;
      }
  
      p {
        @include description-text;
        color: var(--black-text);
        margin-bottom: 1rem;
      }
    }
  
    .video-actions {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
  
      button {
        width: 80%;
        padding: 0.5rem 1rem;
        border: 1px solid var(--stroke-button);
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: background 0.3s ease;
      }
  
      .preview-button {
        background: var(--back-confirm);
        color: var(--black-text);
        
        &:hover {
          background: var(--back-confirmHover);
        }
      }
  
      .download-button {
        background: var(--fondo-header);
        color: var(--white-text);
        
        &:hover {
          opacity: 0.8;
        }
      }
  
      .delete-button {
        background: var(--back-cancel);
        color: var(--white-text);
        
        &:hover {
          background: var(--back-cancelHover);
        }
      }
    }
  
    .video-preview-modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
  
      .modal-content {
        background: var(--fondo-color);
        padding: 1rem;
        border-radius: 8px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .close-button {
          position: absolute;
          top: 10px;
          right: 15px;
          font-size: 1.5rem;
          cursor: pointer;
          color: var(--white-text);
        }
  
        .video-player {
          width: 100%;
          max-width: 600px;
          border-radius: 8px;
        }
      }
    }
  }
  
  // Responsive
  @media (min-width: 768px) {
    .video-item {
      max-width: 500px;
      margin: auto;
    }
  }
  