/**********MODO LIGHT**********/
:root {
  // Color
  --primary-color: #be1e77;
  --black-color: #212121;
  --fondo-back: #e5e7f3;
  --fondo-color: #303031;

  // Color-Header-Footer
  --fondo-header: #1a2653;
  --fondo-footer: #d1dafd;

  // Color-texto
  --black-text: #212121;
  --white-text: #f3f3f3;

  // Color-formularios
  --label-color: #666;
  --input-color: #d1dafd;
  --buttom-color: #ce8db1;
  --link-color: #9e336e;
  --text-error: #94123e;

  // Color-boton
  --back-confirm: #8dcea8;
  --back-cancel: #923655;
  --stroke-button: #6e6e6e;
}

/**********MODO DARK**********/
[data-theme="dark"] {
  // Color
  --primary-color: #bbb6bb;
  --black-color: #212121;
  --fondo-back: #2c2b2b;
  --fondo-color: #1d1c1c;

  // Color-Header-Footer
  --fondo-header: #212121;
  --fondo-footer: #212121;

  // Color-texto
  --black-text: #f3f3f3;
  --white-text: #f3f3f3;

  // Color-menu
  --fondo-menu: #494949;
  --icono-menu: #f3f3f3;

  // Color-formularios
  --label-color: #363636;
  --input-color: #3b3c41;
  --buttom-color: #6e6e6e;
  --link-color: #6e6e6e;
  --text-error: #de9696;

  // Color-boton
  --back-confirm: #807c7c;
  --back-cancel: #2b2c31;
  --stroke-button: #6e6e6e;
}
