*{
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;  
    background-color: var(--fondo-back);

}


main {
    min-height: 70vh;
    padding: 2rem;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
}

ul,li {
    list-style: none;
}
  
a {
    text-decoration: none;
    @include middle-text(200);
    color: var(--black-text);
}

button {
    @include middle-text(200);
    color: var(--black-text);
}

a:hover {
    color: var(--link-color);
    
}

a:active{
    font-size:clamp(1rem, 1.2vw, 1.5rem)
}

button:hover {
    color: var(--buttom-color);
}