@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

// Variables de fuentes
$font: Rubik, sans-serif;

// Tamaños de fuente
$font-size-description: clamp(0.8rem, 1.1vw, 1.4rem);
$font-size-title: clamp(1rem, 1.8vw, 2.2rem);
$font-size-titleMiddle: clamp(0.8rem, 1.3vw, 2rem);

// Espaciado entre letras
$letter-spacing-description: 0.14rem;